<%= form_for(topic) do |f| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group row form-inline">
    <div class="col-3"><%= f.label :title, "タイトル" %></div>
    <div class="col-9"><%= f.text_field :title %></div>
  </div>

  <div class="form-group row form-inline">
    <div class="col-3"><%= f.label :body, "テキスト" %></div>
    <div class="col-9"><%= f.text_area :body %></div>
  </div>

  <div class="form-group row form-inline">
    <div class="col-3"><%= f.label :slug, "URL" %></div>
    <div class="col-9"><%= f.text_field :slug %></div>
  </div>

  <div class="form-group row actions">
    <div class="col-12">
      <%= link_to '戻る', topics_path, class: "btn btn-primary" %> <%= f.submit "登録する", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
