<% provide(:title, t('blog.all_article')) %>
<% provide(:blog_active, 'active') %>

<div class="container">
<%= link_to_unless I18n.locale == :en, 'English', locale: 'en' %>
<%= link_to_unless I18n.locale == :ja, 'Japanese', locale: 'ja' %>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <%= render partial:"blog/blog-post" %>
      <nav class="blog-pagination">
        <%= paginate @posts %>
      </nav>
    </div>
    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <%= render partial:"blog/blog-side" %>
    </div>
  </div>
</div>