<% provide :title ,"パスワード再設定ページへのメールを送る" %>
<% provide :user_active ,"active" %>

<div class="container">
  <h1>パスワード再設定ページへのメールを送る</h1>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
    </div>

    <div class="actions">
      <p><%= f.submit "パスワード再設定ページへのメールを送る", class: "btn btn-primary" %></p>
    </div>
  <% end %>

  <%= render "staff/users/shared/links" %>
</div>