<% provide :title ,"新規ユーザー登録" %>
<% provide :user_active ,"active" %>

<div class="container">
  <h1>新規ユーザー登録</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :role %><br />
    <%= f.select :role, [["admin", "admin"], ["member", "member"]],{}, class: "form-control" %>
  </div>

  <div class="actions">
    <p><%= f.submit "新規ユーザー登録", class: "btn btn-primary" %></p>
  </div>
<% end %>
<%= render "staff/users/shared/links" %>
</div>
