<header>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Site Name</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Site Nameについて", pages_about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
      </ul>
      <% if staff_user_signed_in? %>
      <div class="nav-right">
        <%= link_to 'アカウント', edit_staff_user_registration_path, class: "nav-link #{yield(:user_active)}" %>
      </div>
      <div class="nav-right">
        <%= link_to 'ログアウト', destroy_staff_user_session_path, method: :delete, class: "nav-link" %>
      </div>
      <% end %>
    </div>
  </nav>
  <% flash.each do |name, msg| %>
  <div id='alertBox' class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %>">
    <a class='close' data-dismiss='alert'>x</a>
    <%= msg %>
  </div>
<% end %>
</header>